<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <!-- Title of the project -->
    <title>Vue Mastery</title>
    <!-- Import Styles -->
    <link rel="stylesheet" href="./assets/style.css" />
    <!-- Import Vue.js (Beta version)-->
    <script src="https://unpkg.com/vue@3.0.0-beta.12/dist/vue.global.js"></script>
    <!-- Import Vue.js (Latest version at 22/12/2021)-->
    <script src="https://unpkg.com/vue@next"></script>
  </head>

  <body>

    <!---- div with id app-->
    <div id="app">

      <!--- product display div element --->
      <div class="product-display">

        <!--- product container div element --->
        <div class="product-container">

          <!--- product image div element --->
          <div class="product-image">
            <!-- Image goes here -->
            <image v-bind:src="image"></image>

          <!--- End of product image div element --->  
          </div>
          <!-- product info div element -->
          <div class="product-info">

            <h1> PRODUCTS </h1>
            <h2>{{ product }}</h2>
            <p v-if='stock' > In Stock </p>
            <p v-if='inventory <= 100 && inventory >10'>Fast Selling. Only <span>{{inventory}}</span>  available now</p>
            <p v-else='stock'> Out of Stock </p>

            <p v-show="stock">Stock Options</p>

            <ul>
              <li v-for="detail in details"> {{detail}} </li>
            </ul>

            <div v-for="variant in variants" v-bind:key="variant.id">
              {{variant.color}}
            </div>

          </div>
          <!--End of product info div element -->

        <!--- End of product container div element --->  
        </div>

      <!--- End of product display div element --->  
      </div>

    </div>
    <!----End of div with id app-->


    <!-- Import Js -->
    <script src="./main.js"></script>

    <!-- Mounting App -->
    <script>
      const mountedApp = app.mount('#app')
    </script>
  </body>

</html>